@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700&display=swap");

:root {
  --black: #000;
  --white: #fff;

  --grey-lightest: #f3f4f6;
  --grey-lighter: #a8a8a8;
  --grey-light: #9a9a9a;

  --grey-dark: #252525;
  --grey-darker: #121212;
  --grey-darkest: #030303;

  --shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.2),
    -2rem -2rem 4rem rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
}

body {
  font-size: 1.6rem;
}

// @media only screen and (max-width: 900px) {
//   body {
//     font-size: 1em;
//   }
// }

::-webkit-scrollbar {
  height: 0;
  width: 0;
  background: transparent;
}
